@import "farmgate_mixins";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Source+Sans+Pro:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;800&display=swap');

// @import '../fonts/stylesheet.css';

/* responsive container */
.section_container, .footer_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Circular', sans-serif;


    line-height: 1.7;
    // color:#fff;
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
 p, h4,h5,h6{
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Circular', sans-serif;

    // font-family: 'Poppins', sans-serif;
}
h1,h2,h3{
    font-family: 'Raleway', sans-serif;
}

@media (min-width: 576px){
    .section_container ,.footer_container{
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .section_container {
        max-width: 720px;
    }
    .footer_container{
        max-width: 740px;
    }
}
@media (min-width: 868px){
    .footer_container{
        max-width: 840px;
    }
}
@media (min-width: 991px){
    .section_container, .footer_container {
        max-width: 960px;
    }
}
@media (min-width: 1200px){
    .footer_container {
        max-width: 1140px;
    }
    .section_container{
        max-width: 1065px;
}
.container_pad{
    padding: 0px 80px;
}
}
@media (min-width: 1360px){
.footer_container {
    max-width: 1265px;
}

}
@media (min-width: 1600px){
.section_container  {
    max-width: 1250px;
}
.footer_container  {
    max-width: 1400px;
}
}
/* main grid */
.grid{
    display: -moz-grid;
    display: grid;
}
    /* main flex */
.flex{
    display: -webkit-flex;
    display: flex;
}
.wrap{
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
}
  
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html {
    scroll-behavior: smooth;
  }
a,
a:hover {
    text-decoration: none;
} 
// hero section 
.hero_container{
    position: relative;
    min-height: 80vh;
    height: 100%;
    .hero_grid{
        @extend .grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        align-content: center;
        row-gap: 20px;
        column-gap: 20px;
        // justify-content: center;
        padding: 40px 80px;
        .hero_text{
            align-content: center;
            @extend .grid;

           h3{
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            max-width: 547px;
            line-height: 53px;
            color: #FFFFFF; 
            margin-bottom: 20px;
            span{
                color:#E69740;
            } 
           
           }
           p{
            max-width: 564px;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #F9F9F9;
            margin-bottom: 36px;
            }
            .join_link{
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
                color: #FFFFFF; 
                padding: 10px 40px;
                display: inline-block;
                background: #7DBD64;
                @include border-radius (8px); 
                @include transition(all 0.3s);
                &:hover{
                    color:hsl(103, 30%, 47%);
                    @include transition(all 0.3s);
                    background: #fff;
                }
                &:focus{
                    background:hsl(103, 40%, 47%);
                    @include transition(all 0.3s);
                    color:#fff;
                }
            }
        }
    }
    .img_hero{
        position: absolute;
        height: 100%;
        width:100%;
        top:0;
        left:0;
        z-index: -1;
        background: rgba(9, 31, 6, 0.7);

        // &:before{
        //     content: "";
        //     position: absolute;
        //     width:100%;
        //     height: 100%;
        //     left: 0;
        //     // background: hsla(0, 0%, 0%, 0.4);
        //     // background: hsla(0, 0%, 0%, 0.64);
        //     z-index: 0;
        // }
        img{
            position: absolute;
            height: 100%;
            width:100%;
            object-fit: cover;
        }
    }
}
.section_head{
    h4{
        font-style: normal;
        font-weight: bold;
        font-size: 37px;
        line-height: 43px;
        color: #222831; 
        margin-bottom: 18px;
        span{
            color:#E69740;
        }
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #7B838F; 
        margin-bottom: 0px;
    }
}
.possibilities{
    padding: 45px 0;
    background-image:url("../../public/images/bg/possibilities.svg");
    background-repeat:  no-repeat;
    background-color: linear-gradient(0deg, rgba(224, 236, 228, 0.3), rgba(224, 236, 228, 0.3));
    background-size: cover;
    background-color: hsla(140,24%,90%,.3);
    background-position: center center;
    // background-attachment: fixed; 
    .bility_grid{
        aside{
            max-width: 259px;
            width:100%;
            nav{
               button{
                   padding: 20px 15px;
                   @include border-bottom(1px solid #FAEBDB);
                   h5{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 27px;
                    color: #222831; 
                    margin-bottom: 10px;
                   }
                   p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    margin-bottom: 0;
                    color: #7B838F; 
                   }
                   &:focus{
                    @include box-shadow(none);
                    @include outline(none);
                }
               }
            }
        }
        .nav_content{
            .content_grid{
                // @include 
                @extend .grid;
                grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
                column-gap: 20px;
                row-gap: 20px;
                .content_grid_item{
                    background: #FFFFFF;
                    @include border-radius (4px); 
                    padding:24px 30px;
                    padding-bottom: 20px;
                    @include transition (all 0.3s);
                    position: relative;
                    &:after{
                        content:"";
                        position: absolute;
                        width:0%;
                        left:0;
                        bottom:0;
                        @include border-radius(0 0 4px 4px);
                        @include transition (all 0.3s);
                        @include border-bottom(6px solid rgba(230, 151, 64, 0.3));

                    }
                    h5{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 27px;
                        color: #222831; 
                        margin-bottom: 10px;
                    }
                    p{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        color: #7B838F; 
                    }
                    .more_{
                        padding-top: 20px;
                        span{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            color: #7DBD64; 
                        }
                    }
                    &:hover{
                        @include transition (all 0.3s);
                        &:after{
                            content:"";
                            position: absolute;
                            width:100%;
                            left:0;
                            bottom:0;
                            @include transition (all 0.3s);
                            // @include border-radius(0 0 4px 4px);
                            // @include border-bottom(6px solid rgba(230, 151, 64, 0.3));
                        }
                    }
                }
            }
        }
    }
}
// region 
.region_container{
    padding: 65px 0;
    .img_bg{
        z-index: -1;
    }
    .header_{
        font-style: normal;
        font-weight: bold;
        font-size: 40px;
        line-height: 105.4%;
        color: #FFFFFF; 
    }
    .region_grid{
        @extend .grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        column-gap: 20px;
        align-items: center;
        padding: 52px 0;
        .detail_section{
            padding:50px;
            background: #FBFBFB;
            @include border-radius (60px 0px 0px 60px); 
            .details_grid{
                @extend .grid;
                column-gap: 20px;
                row-gap: 40px;
                max-width: 520px;
                justify-content: space-between;
                grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
                .items_{
                    max-width: 206px;
                    h5{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 21px;
                        line-height: 27px;
                        color: #222831; 
                        margin-bottom: 10px;
                    }
                    p{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 20px;
                        color: #7B838F; 
                        margin-bottom: 15px;
                    }
                    a{
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        color: #7DBD64; 
                    }
                }
            }
        }
    }
    .sub_detail{
        text-align: right;
        margin-top: 50px;
        padding-right: 14px;
        position: relative;
        min-height: 40px;
        // .p_absolute{
        //     position: absolute;
        //     left:0;
        //     top:0;
        //     width:100%;
        // }
        h3{
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 105.4%;
            color: #E69740; 
            color: #fff; 
            margin-bottom: 7px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #F0F0F0; 
            max-width: 206px;
            margin-left: auto;
            margin-bottom: 15px;
        }
        a{
            font-style: normal;
            font-weight: 800;
            font-size: 10px;
            line-height: 105.4%;
            color: #E69740; 
        }
    }
}
// for active region svg icon 
#region1.region1, #region2.region2, #region3.region3, #region4.region4, #region5.region5{
    path{
        fill:#E69740;
    }
}
// name for selected region() 

.map_container{
   .sub_detail{
        display: none;
        &.sub_detail_1.region1, &.sub_detail_2.region2, &.sub_detail_3.region3, &.sub_detail_4.region4, &.sub_detail_4.region5{
            display: block;
            animation: enter 0.2s ease-out;


        }
   } 
}

// details for selected region 
.region_container .region_grid .detail_section .details_grid{
    display:none;
    &.details_grid1.region1, &.details_grid2.region2, &.details_grid3.region3, &.details_grid4.region4, &.details_grid5.region5{
        display: -moz-grid;
        display: -ms-grid;
        display: grid;
        animation: enter 0.3s ease-out;
    }
}
@keyframes enter{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
}
// for active possibility nav, onClick adds unique class to each clicked nav 
aside{
    &.show_farmer button.show_farmer, &.show_financier button.show_financier, &.show_input button.show_input, &.show_buyer button.show_buyer{
        background: rgba(250, 235, 219, 0.5);
        background: rgba(250, 235, 219, 0.7);
        @include border-radius (3px);
        @include transition (all 0.3s);
    
    } 
}
.item_body{
   .nav_content{
       display: none;
       animation: out 0.3s ease-out;
   }
   &.show_farmer .nav_content.show_farmer, &.show_financier .nav_content.show_financier, &.show_input .nav_content.show_input,&.show_buyer .nav_content.show_buyer{
       display: block;
        animation: enter 0.3s ease-out;
   }
}

    @keyframes enter{
    from{
        opacity:0;
        transform:translateY(-10px);
    }
    to{
        opacity:1;
        transform:translateY(0px);
    }
    }
    @keyframes out{
        from{
            opacity:1;
            transform:translateY(-10px);
        }
        to{
            opacity:0;
            transform:translateY(0px);
        }
    }
// mobile part for possibilities 
.mobile_nav{
    padding-top: 15px;
    button{
        width:100%;
        text-align: center;
        background: rgba(250, 235, 219, 0.2);
        padding: 15px;
        @include border-bottom(1px solid #c98742);
        @include border-top(1px solid hsl(31, 56%, 52%));
        @include border-top(1px solid hsl(31, 56%, 82%));
        @include border-bottom(1px solid hsl(31, 56%, 82%));
        h5{
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 27px;
            color: #222831; 
            margin-bottom: 10px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 0;
            color: #7B838F; 
        }
        &:focus{
            @include box-shadow(none);
            @include outline(none);
        }
    }
    }
.mobile_nav{
    &.show_farmer button.show_farmer, &.show_financier button.show_financier, &.show_input button.show_input, &.show_buyer button.show_buyer{
        background: rgba(250, 235, 219, 0.5);
        background: rgba(250, 235, 219, 0.7);
        background: rgba(250, 235, 219, 0.9);
        @include border-bottom(1px solid #c98742);
        @include border-top(1px solid hsl(31, 56%, 52%));
        @include border-radius (3px);
        @include transition (all 0.3s);
    }
}
// active button 
.react-multiple-carousel__arrow{
    &:focus{
        @include box-shadow(none !important);
        @include border(1.5px solid #fff !important);
        @include outline(none !important);
    }
}
.react-multi-carousel-dot button{
    @include border(1px solid #fff !important) ;
}
.react-multi-carousel-dot--active button{
    background: #7DBD64 !important;
}

.backBTN{
    @include transition(all 0.25s);
    // color:hsl(234, 62%, 30%);
    @include border(1px solid hsl(234, 62%, 60%));
    svg{
        @include transition(all 0.25s);
    }
    &:hover{
        background: hsl(234, 62%, 60%);
        @include transition(all 0.25s);
        color:hsl(234, 62%, 95%);
        svg{
            @include transition(all 0.25s);
            left:-5px;
            path{
                fill:hsl(234, 62%, 95%);
            }
        }
    }
}
// stories 
.stories_container{
    padding-top: 85px ;
    padding-bottom: 85px ;
    background: linear-gradient(0deg, rgba(224, 236, 228, 0.3), rgba(224, 236, 228, 0.3));
}
.head_container{
    &.stories_head{
        margin-bottom: 50px;
    }
    h3{
        font-style: normal;
        font-weight: bold;
        font-size: 37px;
        line-height: 43px;
        color: #222831; 
        margin-bottom: 11px;
        span{
            color:#E69740;
        }
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #7B838F; 
    }
   
}
.story_item{
    background: #FFFFFF;
    @include box-shadow (0px 0px 10px rgba(176, 229, 90, 0.2));
    @include border-radius (8px);
    padding: 24px 16px;
    // margin-right: 20px;
    // margin-left: 10px;
    .user_img{
        margin-bottom: 18px;
        img{
            height: 60px;
            width: 60px;
            object-fit: contain;
            background: #7B838F;
            @include border-radius(50%);
        }
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px;
        color: #7B838F; 
        &.writer_{
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            color: #222831; 
            margin-bottom: 0;
        }
    }
    
}
// partners 
.partners_section{
    padding-top: 44px;
    padding-bottom: 60px;
    background: #fefefe;
    .partner_container{
        padding-top: 57px;
        .partner_item{

            img{
                max-width: 165px;
                margin: auto;
            }
        }
    }
}
//seo
.seo_bg{
    background: linear-gradient(0deg, rgba(224, 236, 228, 0.3), rgba(224, 236, 228, 0.3));
    padding: 79px 0;
    h3{
        // font-style: normal;
        // font-weight: bold;
        // font-size: 37px;
        // line-height: 43px;
        margin-bottom: 16px;
        // color: #222831;
        
    }
    // p{
    //     font-style: normal;
    //     font-weight: normal;
    //     font-size: 16px;
    //     line-height: 20px;
    //     color: #7B838F; 
    // }
}

footer{
    padding: 69px 0;
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.1px;
        color: rgba(33, 49, 49, 0.6); 
    }
}
// auth section
.auth_header{
    .back_btn{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #213131; 
        display: -webkit-inline-flex;
        display: inline-flex;
        @include transition(all 0.2s);
        svg{
            position: relative;
            left:0;
            @include transition(all 0.2s);
        }
        &:hover{
            @include transition(all 0.2s);
            color:#629215;
            svg{
                @include transition(all 0.2s);
                left:-5px;
            }
        }
    }
}
.options_header{
    padding-top: 20px;
    h3{
        font-family: 'Circular', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 36px;
        line-height: 46px;
        color: #424242;
        margin-bottom: 13px;
    }
    p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #898989; 
        max-width: 755px;
        margin: auto;
    }
}
.auth_body{
    background-color: #fefefe;
    height: 100%;
    background-image: url("../../public/images/bg/auth_footer.svg");
    background-repeat:  no-repeat;
    background-size: contain;
    padding-bottom: 60px;
    background-position: left bottom;
}
.form_container{
    .input_grid{
      @extend .grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      column-gap: 19px;
      row-gap: 19px;
      .input_item{
            position: relative;

          input{
              position: absolute;
              left: -2000px;
              &:checked ~ label{
                @include transition  (all 0.2s);
                @include border (1px solid #397874);
                .card_footer{
                    span{
                        @include transition  (all 0.2s);
                        background-color: #629215;
                        background-image: url("../../public/images/bg/tick.svg");
                        background-repeat:  no-repeat;
                        background-position: center center;
                    }
                }
              }
          }
        label{
            background: #FFFFFF;
            position: relative;
            display: inline-block;
            @include border(1px solid transparent);
            @include transition  (all 0.2s);
            text-align: center;
            @include border-radius (15px);
            padding: 20px 24px;
            padding-bottom: 40px;
            height: 100%;
            cursor: pointer;
            .card_body{
                h5{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 25px;
                    margin-bottom: 9px;
                    color: #213131; 
                }
                p{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 18px;
                    color: #898989;  
                    margin-bottom: 10px;   
                }
            }
            .card_footer{
                position: absolute;
                height: 40px;
                width:100%;
                left:0;
                bottom: 0;
                span{
                    @include transition  (all 0.2s);
                    display: inline-block;
                    height: 22px;
                    width: 22px;
                    @include border-radius(50%);
                    @include border (1px solid #AEAEAE);
                }
            }
        }
      }
  }  
  .opt_btn{
      padding: 90px 0;
      button{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 25px;
        color: #FFFFFF;
        background: #629215;
        @include border(1px solid #629215);
        @include border-radius (10px);
        @include transition (all 0.25s);
        &:hover{
            @include transition (all 0.25s);
            background: #fff;
            color:#629215;
        }
        &:focus{
            @include transition (all 0.25s);
            color:#fff;
            background: hsl(83, 75%, 23%);
            @include border(1px solid #629215);
            @include outline(none);
            @include box-shadow(none);
        }
      }
      .footer_p{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        margin-top: 22px;
        color: #213131; 
      }
  }
 
}
.form_main_container{
    padding: 2rem;
    .title_{
        text-align: center;
        h4{
            font-family: Circular;
            font-style: normal;
            font-weight: 500;
            // font-size: 36px;
            // line-height: 46px;
            color: #629215; 
        }
    }
    .form_step{ 
        max-width: 710px;
        margin:0 auto;
        margin-top: 50px;
        h5{
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 17px;
            margin-bottom: 0px;
            margin-top: 54px;
            color: #213131; 
        }
    }
    .form_container{
        flex-basis: 280px;
        margin-top: 15px;
        label{
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #A9B2B2; 
            margin-bottom: 9px;
        }
        input, select, textarea{
            @include border (1px solid #DEDCDC);
            @include border-radius (5px); 
            padding: 10px 14px;
            @include transition(all 0.2s);
            &:focus{
                @include transition(all 0.2s);
                @include border (1px solid hsl(83, 75%, 33%));
                @include outline(none);
                @include box-shadow(none);
            }
        }
        textarea{
            min-height: 130px;
        }
    }
    .nextBtn, .backBtn_{
        background: #629215;
        border-radius: 8px; 
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF; 
        @include border(1px solid #629215);
        padding: 8px 25px;
        @include transition(all 0.2s);
        svg{
            left:0;
            @include transition(all 0.3s);

        }
        &:hover{
            @include transition(all 0.2s);
            color:#629215;
            background: #fff;
            svg{
                @include transition(all 0.3s);
                left:3px;
                path{
                    fill:#629215;
                }
            }
        }
        &:focus{
            @include outline(none);
            @include box-shadow(none);
        }
    }
    .backBtn_{
        background: #E69740;
        @include border(1px solid #E69740);
       &:hover{
           color: #E69740;
           svg{
               left:-3px;
                path{
                    fill:#E69740;
                }
            }
       }
    }
    .edit_container{
        h6{
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            // line-height: 20px;
            color:hsl(83, 55%, 36%);
            color:hsl(31, 57%, 48%);
            
        }
        button{
            @include transition(all 0.3s);
            &:hover{
                @include transition(all 0.3s);
                svg{
                    path{
                        @include transition(all 0.3s);
                       fill:hsl(31, 37%, 48%); 
                    }
                }
            }
            &:focus{
                @include transition(all 0.3s);
                @include box-shadow(none);
                @include outline(none);
            }
        }
    }
    .output_{
        p{
            margin: 0;
            span{
                color:hsl(83, 15%, 56%);
            }
        }
    }
    }
.form_step{
    max-width: 710px;
    margin:0 auto;
    margin-top: 50px;
    // successful signup 
    .success_svg_con{
        margin-top: 30px;
        margin-bottom: 34px;
    }
    .page_body{
        min-height: 500px;
        h3{
            font-family: Circular;
            font-style: normal;
            font-weight: 500;
            // font-size: 25px;
            // line-height: 32px;
            color: #629215; 
            padding-bottom: 19px;
        }
        p{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #717171; 
            margin-bottom: 50px;
        }
        a{
            background: #629215;
            @include border-radius (8px); 
            font-style: normal;
            font-weight: 500;
            // font-size: 18px;
            // line-height: 22px;
            color: #FFFFFF; 
            @include border(1px solid #629215);
            padding: 8px 25px;
            @include transition(all 0.2s);
            &:hover{
                @include transition(all 0.2s);
                color:#629215;
                background: #fff;
               
            }
            &:focus{
                @include outline(none);
                @include box-shadow(none);
            } 
        }
    }
}

@media only screen  and (max-width:1200px){

.hero_container .hero_grid{
    .hero_text h3 {
        font-size: 46px;
        font-size: 42px;
        line-height: 46px;
    }
}
    .region_container .region_grid .detail_section .details_grid{
        max-width: 100%;
        .items_{
            max-width:320px;
        }
    }
}
@media only screen  and (max-width:991px){
    .hero_container .hero_grid{
        padding:60px 40px;
        .hero_text h3 {
            font-size: 34px;
            line-height: 38px;
        }
    }
    .region_container{
        .region_grid {
            grid-template-columns: 1fr;
            row-gap: 50px;
            .detail_section{
                margin-left: 15px;
                margin-right: 15px;
                @include border-radius(30px);
                padding: 40px;
            }
        }
    }
}
@media only screen  and (max-width:767px){
    .hero_container .hero_grid{
        padding-left: 20px;
        padding-right: 20px;
        max-width: 100%;
    }
    .region_container .header_{
        font-size: 32px;
        line-height: 42px;
    }
.head_container{
    h3 {
        font-size: 32px;
        line-height: 42px;
    }
}
}
@media only screen  and (max-width:676px){
   
}
@media only screen  and (max-width:500px){
    .options_header h3{
        font-size: 28px;
        line-height: 34px;
    }
    .form_container{
        .input_grid .input_item label{
            .card_body {
                padding-bottom: 20px;
            }
            padding: 24px 15px;
            .card_body h5{
                font-size: 18px;
                line-height: 22px;
            }
        }
        .opt_btn{
            padding: 70px 0;
            button{
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    .svg_con{
        overflow-x: hidden;
        svg{
            width:900px;
            margin-left: -240px;
        }
    }
    .region_container .region_grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
    .region_container .header_{
        font-size: 28px;
        line-height: 36px;
    }
    .head_container{
        h3 {
            font-size: 28px;
            line-height: 36px;
        }
        p{
            font-size: 15px;
            line-height: 18px;
        }
    }
    .region_container{
        .sub_detail{
            h3{
                font-size: 25px;
                line-height: 96.4%; 
            }
        }
        .region_grid {
            row-gap: 30px;
            .detail_section{
                @include border-radius(20px);
                padding: 20px;
                .details_grid{
                    .items_{
                        h5{
                            font-size: 16px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen  and (max-width:425px){
    .form_main_container{
        padding:2rem 15px;
    }
    .svg_con svg {
        width: 612px;
        margin-left: -150px;
    }
}

